Checks: 'bugprone-*,
        clang-analyzer-*,
        cppcoreguidelines-*,
        google-*,
        misc-*,
        modernize-*,
        performance-*,
        portability-*,
        readability-*,
        -cppcoreguidelines-avoid-magic-numbers,
        -readability-magic-numbers,
        -readability-uppercase-literal-suffix,
        -modernize-use-trailing-return-type,
        -cppcoreguidelines-pro-type-vararg'
